@import url("https://use.typekit.net/blo5bgx.css");

body {
    background-color: #1e2124;
    font-family: Roboto;
    color: white;
    margin: 0px;
    overflow: hidden;
}

.navdiv {
    list-style-type: none;
    background-color: #282b30;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    color: white;
    font-weight: bold;
    padding: 25px;
    text-decoration: none;
}
.navbar a: hover {
    color: #9d00ff;
}
ul a {
    font-size: 30px;
}
.logo {
    font-size: 30px;
}

.startplaying {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.startplaying a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
